# Thư viện React
node_modules/

# Thư mục build sản phẩm cuối cùng
/build
/dist

# Các file môi trường của React
.env
.env.local
.env.development.local

# Các file rác của hệ thống hoặc trình duyệt
.DS_Store
Thumbs.db